github "Alamofire/Alamofire" ~> 4.0
github "tristanhimmelman/AlamofireObjectMapper" ~> 4.0 
github "wxxsw/GSMessages"
github "realm/realm-cocoa"
github "Skyscanner/SkyFloatingLabelTextField"
github "ReactiveX/RxSwift" ~> 3.0
github "RxSwiftCommunity/RxOptional" ~> 3.1.1
github "RxSwiftCommunity/RxDataSources" ~> 1.0
github "Quick/Quick" "v0.10.0"
github "Quick/Nimble" "v5.1.1"
github "delba/TextAttributes"
github "Instagram/IGListKit" ~> 2.0.0
github "SwiftyJSON/SwiftyJSON"
github "malcommac/SwiftDate" ~> 4.0.11
